<div class="container">

		<div class="row">
			<div class="col-xs-6">
			<h2>Shipping From</h2>
			<%= render 'shipping/location_form' %>
			</div>

			<div class="col-xs-6">
				<h2>Shipping To</h2>
				<%= render 'shipping/location_form' %>
			</div>
		</div>

</div>


  

<button type="submit" class="btn btn-primary">Submit</button>



