<div class="container d-flex justify-content-center">

		<div class="row">
			<div class="col-xs-6 right-buffer">
			<h2>Shipping From</h2>
			<%= render 'shipping/location_form' %>
			</div>

			<div class="col-xs-6 left-buffer">
				<h2>Shipping To</h2>
				<%= render 'shipping/location_form' %>
			</div>
		</div>
</div>

<div class="container d-flex justify-content-center">
<button type="submit" class="btn btn-primary btn-space" style="width: 8rem;">Check Rates</button>
</div>



