<div class="container">
	<div class="jumbotron text-center">
	  <div class="container">
	    <h1 class="display-4">See Your Savings Today!</h1>
	    <p class="lead">Compare your current rates with our reduced rates and start saving today</p>
	  </div>
	</div>
</div>


<%= render 'shipping/ship_quote' %>